<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load properties file: sport.properties -->
    <context:property-placeholder location="classpath:snack.properties"/>

    <!-- Define your beans here -->
    <bean id="myAmazon" class="spring.services.Amazon">
    </bean>

    <bean id="mySnack" class="spring.beans.Snack">
        <!-- Setter injection -->
        <property name="buyLink" ref="myAmazon"/>

        <!-- Inject literal values from properties file -->
        <property name="snack_id" value="${s1.snack_id}"/>
        <property name="snack_name" value="${s1.snack_name}"/>
        <property name="tier" value="${s1.tier}" />
        <property name="type_id" value="${s1.type_id}"/>
    </bean>
</beans>